<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.transaction.order.dao.OrderDao">

	<select id="getOrderByStatusAndAble" parameterType="java.util.Map" resultType="java.util.Map">
		select 
		  a.MAXACCEPT,a.PATIENT_ID,a.PATIENT_NAME,a.OPR_ID,OPR_NAME,
		  PROJECT_TYPE,a.PAY_TYPE,a.PAY_FEE,a.KF_BEFORE_PHONE,a.KF_BEFORE_TIME,
		  a.KF_MIDDLE_PHONE,a.KF_MIDDLE_TIME,a.KF_END_PHONE,a.KF_END_TIME,dbms_lob.substr(a.PATIENT_SIGN_PHONE, 4000,1) PATIENT_SIGN_PHONE,
		  a.ORDER_START_TIME,a.ORDER_END_TIME,a.KF_TIMES,a.CREATE_TIME,a.UPDATE_TIME,a.ORDER_STATUS,a.ABLE_FLAG,
		  
		  b.PHONE,b.ADDRESS,b.NOW_PRESENT,b.HIS_PRESENT
		from t_order a, t_patient b
		where a.patient_id=b.maxaccept 
		<if test="orderStatus != null and orderStatus !='' ">
			and a.ORDER_STATUS in (${orderStatus})
		</if>
		<if test="ableFlag != null and ableFlag !='' ">
			and a.ABLE_FLAG = ${ableFlag}
		</if>
		<if test="oprID != null and oprID !='' ">
			and a.OPR_ID = ${oprID}
		</if>
		order by a.create_time desc
	</select>
	
	<select id="getOrderList" parameterType="java.util.Map" resultType="java.util.Map">
		select 
			MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,IS_SEND,CREATE_OPR_ID,CREATE_OPR_NAME,to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME, 
			SEND_OPR_ID,SEND_OPR_NAME,to_char(SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') SEND_TIME,SEND_MARK,OPR_DEPT,OPR_DEPT_NAME,SEDN_OPR_DEPT,SEDN_OPR_DEPT_NAME,OVER_FLAG 
		FROM T_ORDER WHERE 1=1 
		<if test="orderPhone != null and orderPhone !='' ">
			AND CONN_PHONE=#{orderPhone}
		</if>
		<if test="custName != null and custName !='' ">
			AND CUST_NAME=#{custName}
		</if>
		<if test="sendFlag != null and sendFlag !='' ">
			AND IS_SEND=#{sendFlag}
		</if>
		<if test="oprID != null and oprID !='' ">
			AND CREATE_OPR_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode !='' ">
			AND OPR_DEPT=#{deptCode}
		</if>
		<if test="orderStatus != null and orderStatus !='' ">
			AND OVER_FLAG=#{orderStatus}
		</if>
		order by CREATE_TIME desc
	</select>
	
	<select id="getPendingOrder" parameterType="java.util.Map" resultType="java.util.Map">
		select 
			MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,IS_SEND,CREATE_OPR_ID,CREATE_OPR_NAME,to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME, 
			SEND_OPR_ID,SEND_OPR_NAME,to_char(SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') SEND_TIME,SEND_MARK,OPR_DEPT,OPR_DEPT_NAME,SEDN_OPR_DEPT,SEDN_OPR_DEPT_NAME 
		FROM T_ORDER WHERE OVER_FLAG=#{overFlag} 
		<if test="orderPhone != null and orderPhone !='' ">
			AND CONN_PHONE=#{orderPhone}
		</if>
		<if test="custName != null and custName !='' ">
			AND CUST_NAME=#{custName}
		</if>
		<if test="oprID != null and oprID !='' ">
			AND SEND_OPR_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode !='' ">
			AND SEDN_OPR_DEPT=#{deptCode}
		</if>
		order by SEND_TIME desc
	</select>
	
	<update id="updateOrderInfo" parameterType="java.util.Map">
		update t_order 
		<trim prefix="set" suffixOverrides=",">
			<if test="custName != null and custName != '' ">CUST_NAME=#{custName},</if>
			<if test="connPhone != null and connPhone != '' ">CONN_PHONE=#{connPhone},</if>
			<if test="connAdr != null and connAdr != '' ">CUST_ADR=#{connAdr},</if>
			<if test="markContent != null and markContent != '' ">MARK_CONTENT=#{markContent},</if>
		</trim>
		where maxaccept=#{maxaccept}
	</update>
	
	<update id="overOrder" parameterType="java.util.Map">
		update t_order set OVER_FLAG='1' 
		<if test="overMark != null and overMark !='' ">
			,SEND_MARK=#{overMark}
		</if>
		where maxaccept in (${ids})
	</update>
	
	<update id="sendOrder" parameterType="java.util.Map">
		update t_order set 
		IS_SEND='1', SEND_OPR_ID=#{sendOprID},SEND_OPR_NAME=#{sendOprName}, 
		SEND_TIME=sysdate
		<if test="markContent != null and markContent !='' ">
			, SEND_MARK=#{markContent}
		</if>
		, SEDN_OPR_DEPT=#{sendOprDeptID}, 
		SEDN_OPR_DEPT_NAME=#{sendOprDeptName} 
		where maxaccept in (${ids})
	</update>
	
	<insert id="saveInitOrder" parameterType="java.util.Map">
		insert into t_order(
			MAXACCEPT, 
			<if test="custName != null and custName !='' ">
				CUST_NAME, 
			</if>
			<if test="connPhone != null and connPhone !='' ">
				CONN_PHONE, 
			</if>
			<if test="custAdr != null and custAdr !='' ">
				CUST_ADR,
			</if>
			<if test="markContent != null and markContent !='' ">
				MARK_CONTENT,
			</if>
			<if test="isSend != null and isSend !='' ">
				IS_SEND,
			</if>
			<if test="oprID != null and oprID !='' ">
				CREATE_OPR_ID,
			</if>
			<if test="oprName != null and oprName !='' ">
				CREATE_OPR_NAME,
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				SEND_OPR_ID,
			</if>
			<if test="sendOprName != null and sendOprName !='' ">
				SEND_OPR_NAME,
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				SEND_TIME,
			</if>
			<if test="markContent != null and markContent !='' ">
				SEND_MARK,
			</if>
			<if test="oprDeptID != null and oprDeptID !='' ">
				OPR_DEPT,
			</if>
			<if test="oprDeptName != null and oprDeptName !='' ">
				OPR_DEPT_NAME,
			</if>
			<if test="sendDeptCode != null and sendDeptCode !='' ">
				SEDN_OPR_DEPT,
			</if>
			<if test="sendDeptName != null and sendDeptName !='' ">
				SEDN_OPR_DEPT_NAME,
			</if>
			CREATE_TIME
		) values (
			#{maxaccept}, 
			<if test="custName != null and custName !='' ">
				#{custName}, 
			</if>
			<if test="connPhone != null and connPhone !='' ">
				#{connPhone}, 
			</if>
			<if test="custAdr != null and custAdr !='' ">
				#{custAdr},
			</if>
			<if test="markContent != null and markContent !='' ">
				#{markContent},
			</if>
			<if test="isSend != null and isSend !='' ">
				#{isSend},
			</if>
			<if test="oprID != null and oprID !='' ">
				#{oprID},
			</if>
			<if test="oprName != null and oprName !='' ">
				#{oprName},
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				#{sendOprID},
			</if>
			<if test="sendOprName != null and sendOprName !='' ">
				#{sendOprName},
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				sysdate,
			</if>
			<if test="markContent != null and markContent !='' ">
				#{markContent},
			</if>
			<if test="oprDeptID != null and oprDeptID !='' ">
				#{oprDeptID},
			</if>
			<if test="oprDeptName != null and oprDeptName !='' ">
				#{oprDeptName},
			</if>
			<if test="sendDeptCode != null and sendDeptCode !='' ">
				#{sendDeptCode},
			</if>
			<if test="sendDeptName != null and sendDeptName !='' ">
				#{sendDeptName},
			</if>
			sysdate
		)
	</insert>
	
	<insert id="saveOrderList" parameterType="java.util.Map">
		insert into t_order_list 
		select MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,IS_SEND,CREATE_OPR_ID,CREATE_OPR_NAME,CREATE_TIME, 
			#{sendOprID},#{sendOprName},sysdate,#{markContent},#{oprDeptID},#{oprDeptName},#{sendDeptCode},#{sendDeptName},
			OVER_FLAG
		from t_order where maxaccept=#{maxaccept}
	</insert>
	
	<insert id="insertOrderList" parameterType="java.util.Map">
		insert into t_order_list 
		select MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,IS_SEND,#{OprID},#{OprName},CREATE_TIME, 
			#{sendOprID},#{sendOprName},sysdate,#{markContent},#{oprDeptID},#{oprDeptName},#{sendOprDeptID},#{sendOprDeptName}, 
			OVER_FLAG
		from t_order where maxaccept in (${ids})
	</insert>
	
	<insert id="overOrderList" parameterType="java.util.Map">
		insert into t_order_list 
		select MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,IS_SEND,#{OprID},#{OprName},CREATE_TIME, 
			#{OprID},#{OprName},sysdate,#{overMark},#{oprDeptID},#{oprDeptName},#{oprDeptID},#{oprDeptName},
			'1'
		from t_order where maxaccept in (${ids})
	</insert>
	
	<select id="getOrderLocusList" parameterType="java.util.Map" resultType="java.util.Map">
		select 
			MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,
			IS_SEND,CREATE_OPR_ID,CREATE_OPR_NAME,to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME,
			SEND_OPR_ID,SEND_OPR_NAME,to_char(SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') SEND_TIME,SEND_MARK,OPR_DEPT,
			OPR_DEPT_NAME,SEDN_OPR_DEPT,SEDN_OPR_DEPT_NAME,OVER_FLAG
		from t_order_list 
		where maxaccept=#{maxaccept}
		order by send_time asc
	</select>
	
	<select id="getOrderTypeCount" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) TYPE_NUM from t_order where 1=1 
		<if test="date != null and date !='' ">
			and to_char(create_time, 'yyyy-mm-dd')=#{date} 
		</if>
		<if test="isSend != null and isSend !='' ">
			and is_send=#{isSend}
		</if>
		<if test="oprID != null and oprID !='' ">
			 and create_opr_id=#{oprID}
		</if>
		<if test="deptCode != null and deptCode !='' ">
			and opr_dept=#{deptCode}
		</if>
	</select>
	
	<select id="getOrderOver" parameterType="java.util.Map" resultType="java.util.Map">
		select decode(over_flag, '0', '未完结', '已完结') as "name", count(1) as "y" 
		from t_order where 1=1
		<if test="oprID != null and oprID !='' ">
			 and CREATE_OPR_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode !='' ">
			and OPR_DEPT=#{deptCode}
		</if>
		group by over_flag
	</select>
	
	<select id="getOrderSend" parameterType="java.util.Map" resultType="java.util.Map">
		select decode(is_send, '0', '已派发', '未派发') as "name", count(1) as "y" 
		from t_order where 1=1
		<if test="oprID != null and oprID !='' ">
			 and CREATE_OPR_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode !='' ">
			and OPR_DEPT=#{deptCode}
		</if>
		group by is_send 
	</select>
</mapper>  