<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.transaction.order.dao.OrderDao">

	<select id="getOrderByStatusAndAble" parameterType="java.util.Map" resultType="java.util.Map">
		select 
		  a.MAXACCEPT,a.PATIENT_ID,a.PATIENT_NAME,a.OPR_ID,OPR_NAME,
		  PROJECT_TYPE,a.PAY_TYPE,a.PAY_FEE,a.KF_BEFORE_PHONE,a.KF_BEFORE_TIME,
		  a.KF_MIDDLE_PHONE,a.KF_MIDDLE_TIME,a.KF_END_PHONE,a.KF_END_TIME,dbms_lob.substr(a.PATIENT_SIGN_PHONE, 4000,1) PATIENT_SIGN_PHONE,
		  a.ORDER_START_TIME,a.ORDER_END_TIME,a.KF_TIMES,a.CREATE_TIME,a.UPDATE_TIME,a.ORDER_STATUS,a.ABLE_FLAG,
		  
		  b.PHONE,b.ADDRESS,b.NOW_PRESENT,b.HIS_PRESENT
		from t_order a, t_patient b
		where a.patient_id=b.maxaccept 
		<if test="orderStatus != null and orderStatus !='' ">
			and a.ORDER_STATUS in (${orderStatus})
		</if>
		<if test="ableFlag != null and ableFlag !='' ">
			and a.ABLE_FLAG = ${ableFlag}
		</if>
		<if test="oprID != null and oprID !='' ">
			and a.OPR_ID = ${oprID}
		</if>
		order by a.create_time desc
	</select>
	
	<insert id="saveInitOrder" parameterType="java.util.Map">
		insert into t_order(
			MAXACCEPT, 
			<if test="custName != null and custName !='' ">
				CUST_NAME, 
			</if>
			<if test="connPhone != null and connPhone !='' ">
				CONN_PHONE, 
			</if>
			<if test="custAdr != null and custAdr !='' ">
				CUST_ADR,
			</if>
			<if test="markContent != null and markContent !='' ">
				MARK_CONTENT,
			</if>
			<if test="isSend != null and isSend !='' ">
				IS_SEND,
			</if>
			<if test="oprID != null and oprID !='' ">
				CREATE_OPR_ID,
			</if>
			<if test="oprName != null and oprName !='' ">
				CREATE_OPR_NAME,
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				SEND_OPR_ID,
			</if>
			<if test="sendOprName != null and sendOprName !='' ">
				SEND_OPR_NAME,
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				SEND_TIME,
			</if>
			<if test="markContent != null and markContent !='' ">
				SEND_MARK,
			</if>
			<if test="oprDeptID != null and oprDeptID !='' ">
				OPR_DEPT,
			</if>
			<if test="oprDeptName != null and oprDeptName !='' ">
				OPR_DEPT_NAME,
			</if>
			<if test="sendDeptCode != null and sendDeptCode !='' ">
				SEDN_OPR_DEPT,
			</if>
			<if test="sendDeptName != null and sendDeptName !='' ">
				SEDN_OPR_DEPT_NAME,
			</if>
			CREATE_TIME
		) values (
			#{maxaccept}, 
			<if test="custName != null and custName !='' ">
				#{custName}, 
			</if>
			<if test="connPhone != null and connPhone !='' ">
				#{connPhone}, 
			</if>
			<if test="custAdr != null and custAdr !='' ">
				#{custAdr},
			</if>
			<if test="markContent != null and markContent !='' ">
				#{markContent},
			</if>
			<if test="isSend != null and isSend !='' ">
				#{isSend},
			</if>
			<if test="oprID != null and oprID !='' ">
				#{oprID},
			</if>
			<if test="oprName != null and oprName !='' ">
				#{oprName},
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				#{sendOprID},
			</if>
			<if test="sendOprName != null and sendOprName !='' ">
				#{sendOprName},
			</if>
			<if test="sendOprID != null and sendOprID !='' ">
				sysdate,
			</if>
			<if test="markContent != null and markContent !='' ">
				#{markContent},
			</if>
			<if test="oprDeptID != null and oprDeptID !='' ">
				#{oprDeptID},
			</if>
			<if test="oprDeptName != null and oprDeptName !='' ">
				#{oprDeptName},
			</if>
			<if test="sendDeptCode != null and sendDeptCode !='' ">
				#{sendDeptCode},
			</if>
			<if test="sendDeptName != null and sendDeptName !='' ">
				#{sendDeptName},
			</if>
			sysdate
		)
	</insert>
	
	<insert id="saveOrderList" parameterType="java.util.Map">
		insert into t_order_list 
		select MAXACCEPT,CUST_NAME,CONN_PHONE,CUST_ADR,MARK_CONTENT,IS_SEND,CREATE_OPR_ID,CREATE_OPR_NAME,CREATE_TIME, 
			#{sendOprID},#{sendOprName},sysdate,#{markContent},#{oprDeptID},#{oprDeptName},#{sendDeptCode},#{sendDeptName}
		from t_order where maxaccept=#{maxaccept}
	</insert>
</mapper>  