<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.transaction.smsManager.dao.SMSDao">

	<!--获取全部人员 -->
	<select id="getAllPersonnel" resultType="java.util.Map" parameterType="java.util.Map">
		select maxaccept,user_account,user_pwd,user_level,dept_code,dept_name,user_name,phone,tel,address,user_role,role_name from (
			select n.maxaccept,n.user_account,n.user_pwd,n.user_level, n.dept_code, m.dept_name, n.user_name, n.phone, n.tel, n.address, n.user_role, n.role_name from (
			       select a.maxaccept, a.user_account, a.user_pwd, a.user_level, a.dept_code, a.user_name, a.phone, a.tel, a.address, a.user_role, b.role_name from t_user a
			       left join t_role b on a.user_role = b.maxaccept where 1=1 
			       <if test="roleCode != null and roleCode != '' ">
						and b.maxaccept=#{roleCode}
				   </if>
			       order by MAXACCEPT asc
			) n left join t_dept m on n.dept_code = m.maxaccept
		) where 1=1 
		<if test="userName != null and userName != '' ">
			and user_name=#{userName}
		</if>
		<if test="roleLevel != null and roleLevel != '' and roleLevel != '10303' ">
			<if test="deptCode != null and deptCode != '' ">
				and dept_code in (
					select maxaccept from t_dept
					start with maxaccept=#{deptCode}
					connect by prior maxaccept = p_id
				)
			</if>
		</if>
		<if test="roleLevel != null and roleLevel != '' and roleLevel == '10303' ">
			<if test="maxaccept != null and maxaccept != '' ">
				and maxaccept=#{maxaccept}
			</if>
		</if>
	</select>
	
	<select id="getBlackList" resultType="java.util.Map" parameterType="java.util.Map">
		select 
		a.MAXACCEPT, a.BLACK_PHONE, a.BLACK_REASON, a.UPDATE_OPR_ID, b.USER_NAME CREATE_OPR_NAME, to_char(a.UPDATE_TIME, 'yyyy-mm-dd HH24:mi:ss') UPDATE_TIME, a.ABLE_FLAG 
		from T_BLACK_LIST a, T_USER b where a.UPDATE_OPR_ID=b.MAXACCEPT
		<if test="blackPhone != null and blackPhone != '' ">
			and a.BLACK_PHONE=#{blackPhone}
		</if>
		order by a.UPDATE_TIME desc
	</select>
	
	<update id="updateBlackStatus" parameterType="java.util.Map">
		update T_BLACK_LIST set ABLE_FLAG=#{ableFlag} where maxaccept=#{maxaccept}
	</update>
	
	<insert id="addBlackList" parameterType="java.util.Map">
		insert into T_BLACK_LIST (
			MAXACCEPT,BLACK_PHONE,BLACK_REASON,UPDATE_OPR_ID,UPDATE_TIME,ABLE_FLAG
		) values (
			#{maxaccept},#{blackPhone},#{blackReason}, #{oprID}, sysdate, #{ableFlag}
		)
	</insert>
	
	<update id="updateBlackList" parameterType="java.util.Map">
		update T_BLACK_LIST 
		<trim prefix="set" suffixOverrides=",">
			<if test="blackPhone != null and blackPhone != '' ">BLACK_PHONE=#{blackPhone},</if>
			<if test="blackReason != null and blackReason != '' ">BLACK_REASON=#{blackReason},</if>
			<if test="oprID != null and oprID != '' ">UPDATE_OPR_ID=#{oprID},</if>
			UPDATE_TIME=sysdate
		</trim>
		where MAXACCEPT=#{maxaccept}
	</update>
	
	<delete id="delBlackListInIDS" parameterType="java.util.Map">
		delete from T_BLACK_LIST where maxaccept in (${ids})
	</delete>
	
	<select id="getMouldList" resultType="java.util.Map" parameterType="java.util.Map">
		select MAXACCEPT, MOULD_TYPE, MOULD_TITLE, MOULD_CONTENT, CREATE_OPR_ID, 
		CREATE_OPR_NAME, to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME, 
		DEPT_CODE 
		from T_SMS_MOULD where 1=1
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE in (SELECT maxaccept FROM t_dept START WITH maxaccept=#{deptCode} CONNECT BY PRIOR p_id = maxaccept)
		</if>
		<if test="mouldTitle != null and mouldTitle != '' ">
			and MOULD_TITLE like '%'||#{mouldTitle}||'%'
		</if>
		order by CREATE_TIME desc
	</select>
	
	<insert id="addMould" parameterType="java.util.Map">
		insert into T_SMS_MOULD (
	       	MAXACCEPT,
	       	MOULD_TYPE,
	       	MOULD_TITLE,
	       	MOULD_CONTENT,
	       	CREATE_OPR_ID,
	       	CREATE_OPR_NAME,
	       	CREATE_TIME,
	       	DEPT_CODE
		) values(
			#{maxaccept},
			#{mouldType},
			#{mouldTitle},
			#{mouldContent},
			#{oprID},
			#{oprName},
			sysdate,
			#{deptCode}
		)
	</insert>
	
	<update id="editMould" parameterType="java.util.Map">
		update T_SMS_MOULD 
		<trim prefix="set" suffixOverrides=",">
			<if test="mouldTitle != null and mouldTitle != '' ">MOULD_TITLE=#{mouldTitle},</if>
			<if test="mouldContent != null and mouldContent != '' ">MOULD_CONTENT=#{mouldContent},</if>
			<if test="oprID != null and oprID != '' ">CREATE_OPR_ID=#{oprID},</if>
			<if test="oprName != null and oprName != '' ">CREATE_OPR_NAME=#{oprName},</if>
			<if test="deptCode != null and deptCode != '' ">DEPT_CODE=#{deptCode},</if>
			CREATE_TIME=sysdate
		</trim>
		where MAXACCEPT=#{maxaccept}
	</update>
	
	<delete id="delMouldInIDS" parameterType="java.util.Map">
		delete from T_SMS_MOULD where maxaccept in (${ids})
	</delete>
	
	<select id="getMouldInfo" resultType="java.util.Map" parameterType="java.util.Map">
		select MAXACCEPT, MOULD_TYPE, MOULD_TITLE, MOULD_CONTENT, CREATE_OPR_ID, 
		CREATE_OPR_NAME, to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME, 
		DEPT_CODE 
		from T_SMS_MOULD where 1=1
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE in (SELECT maxaccept FROM t_dept START WITH maxaccept=#{deptCode} CONNECT BY PRIOR p_id = maxaccept)
		</if>
		<if test="maxaccept != null and maxaccept != '' ">
			and maxaccept=#{maxaccept}
		</if>
		order by CREATE_TIME desc
	</select>
	
	<insert id="insertSmsInfo" parameterType="java.util.Map">
		insert into T_SMS_LIST (
			MAXACCEPT,CUST_ID,CUST_NAME,PHONE,
			SEND_TIME,CREATE_OPR_ID,CREACREATE_OPR_NAME,
			SMS_CONTENT, DEPT_CODE, CREATE_TIME
		) values (
			${maxaccept}, #{custID}, #{custName}, #{phone}, 
			to_date(#{sendDate}, 'yyyy-mm-dd'), #{oprID}, #{oprName}, 
			#{smsContent}, #{deptCode}, sysdate
		)
	</insert>
	
	<select id="getSmsList" resultType="java.util.Map" parameterType="java.util.Map">
		select 
			MAXACCEPT,CUST_ID,CUST_NAME,PHONE,to_char(SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') SEND_TIME,
			CREATE_OPR_ID,CREACREATE_OPR_NAME,SMS_CONTENT,DEPT_CODE,to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME
		from T_SMS_LIST where 1=1 
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE in (select maxaccept from t_dept start with maxaccept=#{deptCode} connect by prior maxaccept = p_id)
		</if>
		<if test="smsPhone != null and smsPhone != '' ">
			and PHONE=#{smsPhone}
		</if>
		order by CREATE_TIME desc
	</select>
	
	<select id="getSmsSyncList" resultType="java.util.Map" parameterType="java.util.Map">
		select 
			MAXACCEPT,CUST_ID,CUST_NAME,PHONE,to_char(SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') SEND_TIME,
			CREATE_OPR_ID,CREACREATE_OPR_NAME,SMS_CONTENT,DEPT_CODE,to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME
		from T_SMS_LIST where sysdate>=SEND_TIME
		<if test="makeFlag != null and makeFlag != '' ">
			AND MAKE_STATUS=#{makeFlag}
		</if>
	</select>
	
	<update id="updateMakeStatus" parameterType="java.util.Map">
		update T_SMS_LIST set MAKE_STATUS=#{makeStatus} 
		where MAKE_STATUS=#{oldMakeStatus}
	</update>
	
	<select id="getSmsHisList" resultType="java.util.Map" parameterType="java.util.Map">
		select 
			MAXACCEPT,CUST_ID,CUST_NAME,PHONE,to_char(YY_SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') YY_SEND_TIME,to_char(SJ_SEND_TIME, 'yyyy-mm-dd HH24:mi:ss') SJ_SEND_TIME,
			CREATE_OPR_ID,CREACREATE_OPR_NAME,SMS_CONTENT,DEPT_CODE,to_char(UPDATE_TIME, 'yyyy-mm-dd HH24:mi:ss') UPDATE_TIME, to_char(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME, 
			SEND_FLAG, SEND_MARK
		from T_SMS_LIST_HIS where 1=1 
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE in (select maxaccept from t_dept start with maxaccept=#{deptCode} connect by prior maxaccept = p_id)
		</if>
		<if test="smsPhone != null and smsPhone != '' ">
			and PHONE=#{smsPhone}
		</if>
		<if test="sendFlag != null and sendFlag != '' ">
			and SEND_FLAG=#{sendFlag}
		</if>
		order by CREATE_TIME desc
	</select>
</mapper>  
