<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.transaction.conver.dao.ConverDao">

	<select id="getConverList" parameterType="java.util.Map" resultType="java.util.Map">
		select 
			MAXACCEPT,CALLER_NO,CALLED_NO,CALL_TIME,ANSWER_TIME,HANGUP_TIME,TALK_TIME,
			DOWNLOAD_PATH,TALK_FLAG,HANGUP_TAR,CALL_FORWARD,CALL_ID,SEAT_ID,SEAT_NAME,
			RECORD_PATH,TO_CHAR(CREATE_TIME, 'yyyy-mm-dd HH24:mi:ss') CREATE_TIME,TO_CHAR(UPDATE_TIME, 'yyyy-mm-dd HH24:mi:ss') UPDATE_TIME,DEPT_CODE,DEPT_NAME
		from T_CONVERSATION 
		where 1=1
		<if test="seatID != null and seatID != ''">
			and SEAT_ID=#{seatID}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and DEPT_CODE=#{deptCode}
		</if>
		<if test="callerPhone != null and callerPhone != ''">
			and CALLER_NO=#{callerPhone}
		</if>
		<if test="calledPhone != null and calledPhone != ''">
			and CALLED_NO=#{calledPhone}
		</if>
		<if test="callForward != null and callForward != ''">
			and CALL_FORWARD=#{callForward}
		</if>
		
		order by CALL_TIME desc
	</select>
	
	<!-- 增加通话 -->
	<insert id="insertConver" parameterType="java.util.Map">
		insert into T_CONVERSATION (
			MAXACCEPT, CALLER_NO, CALLED_NO, TALK_FLAG, CALL_FORWARD, 
			CALL_ID, SEAT_ID, SEAT_NAME, CREATE_TIME, DEPT_CODE
		) VALUES (
			#{maxaccept}, #{callerNO}, #{calledNO}, #{talkFlag}, #{callForward}, 
			#{callID}, #{seatID}, #{seatName}, sysdate, #{deptCode}
		)
	</insert>
	
	<select id="getConverByCallID" parameterType="java.util.Map" resultType="java.util.Map">
		select 
		MAXACCEPT, CALLER_NO, CALLED_NO, CALL_TIME, ANSWER_TIME,
		HANGUP_TIME, TALK_TIME, DOWNLOAD_PATH, TALK_FLAG, HANGUP_TAR,
		CALL_FORWARD, CALL_ID, SEAT_ID, SEAT_NAME, RECORD_PATH, 
		CREATE_TIME, UPDATE_TIME
		from T_CONVERSATION where CALL_ID=#{callID} order by create_time desc
	</select>
	
	<update id="updateTalkFlag" parameterType="java.util.Map">
		update T_CONVERSATION set TALK_FLAG='1', UPDATE_TIME=sysdate where maxaccept=#{maxaccept}
	</update>
	
	<update id="updateHangupTar" parameterType="java.util.Map">
		update T_CONVERSATION set HANGUP_TAR=#{hangupTar} where maxaccept=#{maxaccept}
	</update>
	
	<update id="finashConver" parameterType="java.util.Map">
		update T_CONVERSATION set CALL_TIME=#{callTime}, ANSWER_TIME=#{answerTime}, HANGUP_TIME=#{hangupTime},
		TALK_TIME=#{talkTime}, DOWNLOAD_PATH=#{downloadPath} , UPDATE_TIME=sysdate
		where maxaccept=#{maxaccept}
	</update>
	
	<insert id="insertCallStatus" parameterType="java.util.Map">
		insert into T_CALL_STATUS (
			MAXACCEPT, SEAT_ID, PHONE, SHOW_FLAG, CREATE_TIME
		) values (
			${maxaccept}, #{seatID}, #{phone}, #{showFlag}, sysdate
		)
	</insert>
	
	<update id="updateCallStatus" parameterType="java.util.Map">
		update T_CALL_STATUS set PHONE=#{phone}, SHOW_FLAG=#{showFlag}, CREATE_TIME=sysdate where maxaccept=#{maxaccept}
	</update>
	
	<select id="getCallStatusBySeatID" parameterType="java.util.Map" resultType="java.util.Map">
		select MAXACCEPT, SEAT_ID, PHONE, SHOW_FLAG, CREATE_TIME from T_CALL_STATUS where SEAT_ID=#{seatID}
	</select>
	
	<select id="getCallStatus" parameterType="java.util.Map" resultType="java.util.Map">
		select MAXACCEPT, SEAT_ID, PHONE, SHOW_FLAG, SHOW_FLAG from T_CALL_STATUS where SEAT_ID=#{seatID} and SHOW_FLAG=#{showFlag} order by create_time desc
	</select>
	
	<update id="updateShowStauts" parameterType="java.util.Map">
		update T_CALL_STATUS set SHOW_FLAG='1' where SEAT_ID=#{seatID}
	</update>
	
	<select id="getConverCount" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) CONVER_NUM from t_conversation where 1=1 
		<if test="oprID != null and oprID != '' ">
			and SEAT_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE=#{deptCode}
		</if>
	</select>
	
	<select id="getIntoConverCount" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) INTO_CONVER_NUM from t_conversation where CALL_FORWARD='0'
		<if test="oprID != null and oprID != '' ">
			and SEAT_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE=#{deptCode}
		</if>
	</select>
	
	<select id="getOutConverCount" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) OUT_CONVER_NUM from t_conversation where CALL_FORWARD='1'
		<if test="oprID != null and oprID != '' ">
			and SEAT_ID=#{oprID}
		</if>
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE=#{deptCode}
		</if>
	</select>
	
	<select id="getConverSumAn" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) CONVER_NUM, SEAT_ID , SEAT_NAME from t_conversation where 1=1 
		<if test="seatID != null and seatID != '' ">
			and SEAT_ID=#{seatID}
		</if>
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE=#{deptCode}
		</if>
		<if test="beginDate != null and beginDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')>=#{beginDate}]]>
		</if>
		<if test="endDate != null and endDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')<=#{endDate}]]>
		</if>
		group by SEAT_ID , SEAT_NAME
		order by CONVER_NUM desc
	</select>
	
	<select id="getConverIsTalk" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) TALK_NUM from t_conversation where SEAT_ID=#{SEAT_ID} and TALK_FLAG=#{isTalk}
		<if test="beginDate != null and beginDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')>=#{beginDate}]]>
		</if>
		<if test="endDate != null and endDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')<=#{endDate}]]>
		</if>
	</select>
	
	<select id="getConverIsTalkList" parameterType="java.util.Map" resultType="java.util.Map">
		select count(1) as "y", '未接通' as "name" from t_conversation where seat_id=#{oprID} and talk_flag='0' 
		<if test="beginDate != null and beginDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')>=#{beginDate}]]>
		</if>
		<if test="endDate != null and endDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')<=#{endDate}]]>
		</if>
		union all
		select count(1) as "y", '已接通' as "name" from t_conversation where seat_id=#{oprID} and talk_flag='1' 
		<if test="beginDate != null and beginDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')>=#{beginDate}]]>
		</if>
		<if test="endDate != null and endDate != '' ">
			<![CDATA[ and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')<=#{endDate}]]>
		</if>
	</select>
	
	<select id="getConverTalkNum" parameterType="java.util.Map" resultType="Integer">
		select count(1) NUM from t_conversation where 1=1 
		<if test="talkFlag != null and talkFlag != '' ">
			and talk_flag=#{talkFlag}
		</if>
		<if test="deptCode != null and deptCode != '' ">
			and DEPT_CODE=#{deptCode}
		</if>
		<if test="date != null and date != '' ">
			and TO_CHAR(CREATE_TIME, 'yyyy-mm-dd')=#{date}
		</if>
	</select>
</mapper>  
