<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- <properties url="file:///oneboss/restapp/public/dbConfig/dbconfig.properties"></properties> -->
	
	<!-- <settings>
		changes from the defaults
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="20"/>
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
		<setting name="logImpl" value="LOG4J2" />
	</settings> -->
	
	<!-- <plugins>
		<plugin interceptor="com.sitech.tsn.mybatis.plugins.ExecTimePlugin"></plugin>
	</plugins> -->
	
	<environments default="obossdb">
		<environment id="obossdb">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@192.168.81.180:1521:orcl"/>
				<property name="username" value="smsdms"/>
				<property name="password" value="AA39noway"/>
				<property name="poolMaximumActiveConnections" value="300"/>
				<property name="poolMaximumIdleConnections" value="200"/>
				<property name="poolMaximumCheckoutTime" value="20000"/>
				<property name="poolTimeToWait" value="20000"/>
				<property name="poolPingQuery" value="select 1 from dual"/>
				<property name="poolPingEnabled" value="true"/>
				<property name="poolPingConnectionsNotUsedFor" value="30000"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/yl/transaction/seat/mapper/SeatMapper.xml"/>
	</mappers>

</configuration>
